.navBox {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  margin-top: 280px;
  width: 400px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  .choosed{
    color: black;
  }
  li {
    position: relative;
    display: inline-block;
    margin: 0 18px;
    padding: 0 6px;
    color: #a0a0a0;
    font-size: 15px;
    transition: 0.15s all linear;
    cursor: pointer;
    &:hover {
      color: #636363;
    }
    &:active{
      color: #7b7b7b;
    }
    &::before{
      content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #000;
    transition: 0.15s all linear;
    }
  }
  li:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
    border-bottom-color: #000;
  }
  &:after {
    content: "";
    width: 78%;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    margin: 0 auto;
    bottom: -30%;
    z-index: 1;
    left: 0px;
    right:0px;
  }
}
