/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; } */
/* body { background:#fff; color:#555; font-family: Verdana, Arial, Helvetica, sans-serif; } */
/* h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; } */

/* address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;} */
/* td,th,caption { font-size:14px; } */
a { text-decoration:none; }
/* a:hover { text-decoration:underline; } */
/* img { border:none; } */
/* input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; } */
/* table { border-collapse:collapse; } */
/* html {overflow-y: scroll;}  */

/* .clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;} */
/* .clearfix { *zoom:1; } */

.reset{
  div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
  h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
  ol,ul,li { list-style:none; }
}

.fadeInDown {
  animation: fadeInDown 0.6s ease;
  animation-iteration-count:1;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -16px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
