.contentBox {
  color: #555;
  .other{
    margin: 40px 0;
    text-align: center;
    font-size: 13px;
    p{
      color: #969696;
    }
  }
  .thankBox{
    text-align:center;
          font-size:15px;
          margin:60px 0;
          span{
            display:inline-block;
            height:50px;
            border-top:1px solid #e2e2e2;
            border-bottom:1px solid #e2e2e2;
            line-height:45px;
            color:#949494;
          }
  }
}
