.contentBox {
  width: 760px;
  position: absolute;
  left: 50%;
  margin-top: 330px;
  margin-left: -380px;
  color: #555;
  .other{
    margin: 40px 0;
    text-align: center;
    p{
      color: #969696;
    }
  }
  img {
    max-width: 630px;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
  a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
  }
  a:hover {
    color: #807e7e;
  }
  pre {
    margin: 0 10px;
    font-family: Arial;
    background: #403f3f;
    color: white;
    padding: 10px;
    border-radius: 3px;
    overflow: scroll;
    line-height: 20px;
    .hljs-comment {
      color: #9e9e9d;
    }
  }
  table {
    border-spacing: 0;
    border: 1px solid #ddd;
    word-wrap: break-all;
  }
  th {
    padding-bottom: 10px;
    font-weight: 700;
    border: 1px solid #ddd;
  }
  td {
    padding-bottom: 10px;
    border: 1px solid #ddd;
  }
  p {
    line-height: 26px;
    font-size: 15px;
    img {
      display: block;
      margin: 18px auto;
    }
  }
  li {
    font-size: 14px;
    line-height: 26px;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  strong {
    color: #191919;
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}
