.signleBox {
  display: inline-block;
  width: 660px;
  height: 85px;
  padding: 10%;
  border-radius: 3px;
  border-bottom: 0.2px solid #f5f3f3;
  transition: background 1s ease;  
  cursor: pointer;
  &:hover {
    background: #f9f9f9;
    transition: background 0.2s ease;
  }
  &:active {
    background: #f3f3f3;
  }
  h3 {
    display: inline-block;
    padding-left: 10px;
    height: 22px;
    width: 75%;
    margin: 12px 0;
    font-size: 16px;
    line-height: 22px;
    color: #4e4e4e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .class{
    display: inline-block;
    position: relative;
    padding-right: 10px;
    width: 25%;
    text-align: right;
    top: -18px;
    li {
      display: inline-block;
      padding: 0 8px;
      height: 24px;
      font-size: 13px;
      color: #888888;
      background: #e8e8e8;
      border-radius: 3px;
      line-height: 24px;
      margin-left: 5px;
    }
  }
  p {
    display: inline-block;
    width: 75%;
    font-size: 14px;
    padding-left: 10px;
    color: #788590;
    z-index: -22;
    margin-bottom: 10px;
  }
  .detail{
    display: inline-block;
    width: 25%;
    position: relative;
    left: 16px;
    li{
      position: relative;
      display: inline-block;
      left: 20px;
      width: 60px;
      img{
        width: 17px;
        height: 17px;
        margin-right: 5px;
        float: right;
        margin-top: 3px;
      }
      span{
        display: inline-block;
        text-align:right; 
        width: 32px;
        font-size: 13px;
        color: #9c9c9c;
        line-height: 18px;
      }
    }
    li:nth-child(1){
      img{
        margin-top: 4px;
      }
    }
    li:nth-child(2){
      img{
        margin-bottom: 2px;
      }
    }
  }
}